:root {
  --font-sans: 'Fira Sans', serif, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  /* Font Size */
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 2rem;

  /* Theme Colors */
  --black: #131415;
  --gray-95: #1f2020;
  --gray-90: #2b2c2c;
  --gray-80: #424343;
  --gray-60: #717272;
  --gray-50: #898989;
  --gray-40: #a1a1a1;
  --gray-20: #d0d0d0;
  --gray-10: #e7e7e7;
  --gray-05: #f3f3f3;
  --white: #ffffff;

  /* Aplha Colors */
  --black-a-80: rgba(19, 20, 20, 08);
  --black-a-60: rgba(19, 20, 20, 06);
  --black-a-50: rgba(19, 20, 20, 05);
  --black-a-40: rgba(19, 20, 20, 04);
  --black-a-20: rgba(19, 20, 20, 02);

  /* Theme Colors */
  --primary: var(--black);
  --primary-95: var(--gray-95);
  --primary-90: var(--gray-90);
  --primary-80: var(--gray-80);
  --primary-60: var(--gray-60);
  --primary-50: var(--gray-60);
  --primary-40: var(--gray-40);
  --primary-20: var(--gray-20);
  --primary-10: var(--gray-10);
  --primary-05: var(--gray-05);
  --secondary: var(--white);

  /* Aplha Colors */
  --primary-a-80: var(--black-a-80);
  --primary-a-60: var(--black-a-60);
  --primary-a-50: var(--black-a-50);
  --primary-a-40: var(--black-a-40);
  --primary-a-20: var(--black-a-20);

  /* Elements */
  --default-border: 1px solid var(--primary-20);
  --skeleton-animation: skeleton-tilt 1.15s infinite ease-in-out alternate;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary);
  color: var(--primary);
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
}
a {
  color: var(--primary);
  text-decoration: none;
}

input {
  border-radius: 0;
  -webkit-appearance: none !important;
}

/* Images utilities */
.square-image {
  border-radius: 15px;
}
.circle-image {
  border-radius: 50%;
}

/* Animations */
@keyframes skeleton-tilt {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
