:root {
  --black: #131414;
  --white: white;
  --gray-15: #f4f4f6;
  --gray-20: #e2e2e2;
  --gray-50: #636d77;
  --gray-60: #73788c;
  --gray-80: #383838;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
}
.main-container {
  padding: 2rem 1.5rem 7rem;
  transition: 0.25s;
}
@media screen and (min-width: 768px) {
  .main-container {
    padding: 2rem 5rem 7rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-container {
    padding: 2rem 12rem 7rem;
  }
  .main-container.playing {
    padding: 2rem 26rem 7rem 4rem;
  }
}
@media screen and (min-width: 1440px) {
  .main-container {
    padding: 2rem 18rem 7rem;
  }
  .main-container.playing {
    padding: 2rem 30rem 7rem 8rem;
  }
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
}
a {
  text-decoration: none;
}
input {
  border-radius: 0;
  -webkit-appearance: none !important;
}
