body {
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
}
main {
  padding: 2rem 1.5rem 7rem;
  transition: 0.25s;
}
@media screen and (min-width: 768px) {
  main {
    padding: 2rem 5rem 7rem;
  }
}
@media screen and (min-width: 1024px) {
  main {
    padding: 2rem 12rem 7rem;
  }
  main.playing {
    padding: 2rem 23rem 7rem 4rem;
  }
}
@media screen and (min-width: 1440px) {
  main {
    padding: 2rem 18rem 7rem;
  }
  main.playing {
    padding: 2rem 30rem 7rem 8rem;
  }
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
}
a {
  text-decoration: none;
}
input {
  border-radius: 0;
  -webkit-appearance: none !important;
}
